@{
    ViewBag.Title = "O nama";
}<html>
    <body>
        <div class="tekst">
            <h1>O nama:</h1>
            <p>Kompanija ARCA ili Animal Rescue and Care Association je jedinstvena kompanija koja se bavi kreiranjem sofvera
            za pomoć životinjama.<br />
            Naša misija je da koristeći nove tehnologije spasimo i usrećimo životinje širom sveta. <br/>
            Zahvaljujući našem ARCA softveru, broj pasa lutalica se značajno smanjio, a najsrećnije su našle topli dom i ljubav koju zaslužuju.
            </p>
            <p>ARCA ili Animal Rescue and Care Application je najmodernija i najbolja aplikacija za potrebe vašeg azila za pse.</p>
            <p>Uz malo modifikacije i dogovora sa nama, možemo program modifikovati prema vašim potrebama.</p>
            <p>@Html.ActionLink("Samo nas kontaktirajte. ", "Contact", "Home")</p>
        </div>
    </body>
</html>
