@{
    ViewBag.Title = "Kontaktirajte nas";
}
<html>
<body>
    <div class="tekst">
        <h1>Naša adresa:</h1>
        <address>
            Aleksandra Dubčeka 38f, Beograd<br />
            <abbr title="Phone">Telefon:</abbr>
            069-838-4200
        </address>

        <address>
            <strong>E-mail za podršku sa aplikacijom:</strong>   <a href="mailto:tadic.stefan98@gmail.com">tadic.stefan98@gmail.com</a><br />
            <strong>E-mail za podršku sa plaćanjem:</strong> <a href="mailto:andjelkadzida@gmail.com">andjelkadzida@gmail.com</a>
        </address>
    </div>
</body>
</html>